div.theme-admin-notice,
div.trendy-news-upgrade-notice {
  position: relative;
  padding: 10px 50px 10px 10px;
}

.trendy-news-upgrade-notice .links {
  padding-bottom: 10px;
}

.trendy-news-upgrade-notice .links a .dashicons {
  line-height: 1.6;
  font-size: 18px;
}

.trendy-news-upgrade-notice .links a.button {
    padding: 2px 12px;
    margin: 4px;
}

a.trendy-news-upgrade-notice-dismiss {
  text-decoration: none;
}
